<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title></title>
  </head>
  <body>
    <main class="container">
        <!-- definujte path /calculator/ -->
        <!-- vytvořte view calculator -->
        <!-- pokud zvádnete toto jak je to velice dobré -->
        <h1>Calculator</h1>
        
        <form action="/calculator/" method="get">
            <!-- přes GET.a získáme klíč a z GET -->
            
            <select name="operation">
              <option value="plus">+</option>
              <option value="minus">-</option>
              <option value="multiple">&times;</option>
              <option value="divide">/</option>
            </select>

            <!--http://127.0.0.1:8000/calculator/?operation=divide&a=10&b=20-->

            <input name="a" required type="number" value="{{ request.GET.a }}">
            <input name="b" required type="number" value="{{ request.GET.b }}">
            <label for="result">{{ request.GET.a }} {{ request.GET.operation }} {{ request.GET.b }} = </label>
            <input id="result" value="{{ result }}" readonly>
            <button type="submit">Calculate</button>
            <a href="/calculator/">Reset</a>
        </form>
    </main>
  </body>
</html>