<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
    <title>Login</title>
  </head>
  <body style="max-width: 640px; margin: 0 auto;">
    <main class="container">
      <h1>Login</h1>
      
      <!-- absolutní -->
      <!--https://seznam.cz/login/-->

      <!-- relativní -->
      <!--/login/-->

      <!-- enctype="multipart/form-data" používám pokud potřebuji posílat soubory -->
      <form method="post" action="/login/" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="username" required>
        <input type="password" name="password" required>
        <input type="file" name="myfile">
        <h2>Zadejte platné přihlašovací údaje</h2>
        <button type="submit">Příhlásit se</button>
      </form>
    </main>
  </body>
</html>