<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>
  <body>
    {% include 'todo/includes/nav.html' %}

  <section class="section">
    <div class="container">
      <h1 class="title">Create a new Item</h1>

      {% comment %}

      <form method="POST" action="{% url 'todo:new' %}">
        {% csrf_token %}
        
        {{ form }}
        
        
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
            <a href="{% url 'todo:list' %}" class="button is-link is-light">Zpět na seznam</a>
          </div>
        </div>

      </form>

      {% endcomment %}
      
      <form method="POST" action="{% url 'todo:new' %}" style="max-width: 640px;">
        {% csrf_token %}
        <div class="field">
          <label class="label">{{ form.title.label }}</label>
          <div class="control">
            <input name="{{ form.title.name }}" value="{{ form.title.value }}" class="input" type="text" placeholder="">
          </div>
          {% if form.errors.title %}
          <p class="help is-danger">{{ form.errors.title }}</p>
          {% endif %}
        </div>

        <div class="field">
          <label class="label">{{ form.desc.label }}</label>
          <div class="control">
            <textarea name="{{ form.desc.name }}" class="textarea" placeholder=""></textarea>
          </div>
          {% if form.errors.desc %}
          <p class="help is-danger">{{ form.errors.desc }}</p>
          {% endif %}
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
            <a href="{% url 'todo:list' %}" class="button is-link is-light">Zpět na seznam</a>
          </div>
        </div>
      </form>

    </div>
  </section>
  </body>
</html>